<!DOCTYPE html>
<html>
  <head>
    <title><%= title +" | "+ logo %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower" rel="stylesheet">
  </head>
  <body>
    <header>  
      <nav >
        <div id="logo">
          <a href="/"><%= logo %></a>
        </div>
        
        <div id="nav-links">
          <ul>
            <li>
              <a href="/accounts/signup">signup</a>
            </li>
        </ul>
      </div>
    </nav>
    </header>
    <main>    
      <p>Welcome <%= fname+" "+lname %> to OJS!!</p>
      <p>Email: <%= email %></p>
    </main>
  

    <footer></footer>
  </body>
</html>
